{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}


<section class="flex items-start justify-center px-8 py-8 mt-[12vh]">
	  	<div class="flex flex-col justify-start w-[60%]">
			{% comment %} <div class="product-images">
			    <div class="swiper-container-product-page swiper-container-{{- product.id -}}">
			      <div class="swiper-wrapper">
			        {% for image in product.images %}
			          <div class="swiper-slide">
			            <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" />
			            <div class="swiper-button-next swiper-button-next-{{- product.id -}}"></div>
			            <div class="swiper-button-prev swiper-button-prev-{{- product.id -}}"></div>
			          </div>
			        {% endfor %}
					
			      </div>
			    </div>
		  	</div>

		  	<div class="bg-red-400 flex">
				{% for image in product.images %}
					<img src="{{ image.src | product_img_url: 'medium' }}" alt="{{ product.title }} - {{ image.alt }}" />
			  	{% endfor %}
			</div>  {% endcomment %}

			<div class="main">
				<div class="slider slider-for">
					{% for media in product.media %}
				  		<div>
							{% case media.media_type %}
							    {% when 'image' %}
							        <img src="{{ media | img_url: 'large' }}" alt="{{ media.preview_image.alt }}" class="w-full h-full object-cover">
							    
							    {% when 'external_video' %}
							        {{ media | external_video_tag: class: 'w-full h-80 object-cover' }}

							    {% when 'video' %}
							        {{ media | video_tag: controls: true, class: 'w-full h-full object-cover' }}

							    {% when 'model' %}
							        <product-model data-media-id="{{ media.id }}">
							            <div>
							                <button id="productModelOpenButton_{{ media.id }}" x-on:click="productModalOpen = true" class="w-full h-full bg-gray-100 border relative">
							                    <span class="border bg-gray-100 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
							                        {% render 'icon-model-viewer' %}
							                    </span>
							                    <img 
							                        src="{{ media | img_url: 'large' }}" 
							                        alt="{{ media.preview_image.alt }}"
							                        class="w-full h-full object-cover"
							                    >
							                </button>
							            </div>

							            <template>
							                {{ media | model_viewer_tag: reveal: 'interaction' }}
							            </template>
							        </product-model>

							    {% else %}
							        {{ media | media_tag }}
							        
							{% endcase %}
						</div>
					{% endfor %} 	
				  {% comment %} <div><h3>2</h3></div>
				  <div><h3>3</h3></div>
				  <div><h3>4</h3></div>
				  <div><h3>5</h3></div> {% endcomment %}
				</div>
				{% comment %} <div class="slider slider-nav">
					{% for image in product.images %}
						<div><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" /></div>
						
						<a href="#" data-slide="3"><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" /></a>
				  	{% endfor %} 
				</div>

				<div class="action">
					{% for image in product.images %}
				  		<a href="#" data-slide={{- product.id -}}><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" /></a>
					{% endfor %} 
				</div> {% endcomment %}

				{% comment %} <div class="action">
				  <a href="#" data-slide={{- product.id -}}>go to slide 3</a>
				  <a href="#" data-slide={{- product.id -}}>go to slide 4</a>
				  <a href="#" data-slide={{- product.id -}}>go to slide 5</a>
				</div> {% endcomment %}
			</div>
				
		</div>

  		<div class="flex flex-col justify-start items-center px-7 w-[40%]">
    
		    <div class="product-title">
		      <h1>{{ product.title }}</h1>
		    </div>

		    <div class="product-bottom">
		      <div class="product-description">
		        {{ product.description }}
		      </div>
		      {% render 'add-to-cart-form' %}
		    </div>

  		</div>
</section>


<script>

$('.slider-for').slick({
   slidesToShow: 1,
   slidesToScroll: 1,
   arrows: false,
   fade: true,
   asNavFor: '.slider-nav'
 });
 $('.slider-nav').slick({
   slidesToShow: 3,
   slidesToScroll: 1,
   asNavFor: '.slider-for',
   dots: true,
   focusOnSelect: true
 });

 $('a[data-slide]').click(function(e) {
   e.preventDefault();
   var slideno = $(this).data('slide');
   $('.slider-nav').slick('slickGoTo', slideno - 1);
 });
	

</script>

<style>

	.slick-slider {
		position: relative;
		
	}

	.slick-prev {
		position: absolute;
		z-index: 99999 !important;
		top: 0;
	}

	.slick-next {
		position: absolute;
		z-index: 99999 !important;
		top: 0;
		left: 92%;
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: red;
	}
	.main {

	  width:500px;
	  display:block;
	  margin:0 auto;
	}
	h3 {
	    background: #fff;
	    color: #3498db;
	    font-size: 36px;
	    line-height: 100px;
	    margin: 10px;
	    padding: 2%;
	    position: relative;
	    text-align: center;
	}
	.action{
	  display:block;
	  margin:100px auto;
	  width:100%;
	  text-align:center;
	}
	.action a {
	  display:inline-block;
	  padding:5px 10px; 
	  background:#f30;
	  color:#fff;
	  text-decoration:none;
	}
	.action a:hover{
	  background:#000;
	}

</style>


{% comment %}
<script>
	 new Swiper(".swiper-container-{{- product.id -}}", {
    slidesPerView: 1,
    centeredSlides: true,
    spaceBetween: 0,
    loop: true,

    breakpoints: {
      600: {
        allowTouchMove: false,
        speed: 0,
        navigation: {
          nextEl: ".swiper-button-next-{{- product.id -}}",
          prevEl: ".swiper-button-prev-{{- product.id -}}"
        }
      }
    }
  })
</script>
{% endcomment %}






